            *{
                font-family: 'Rubik', sans-serif;
            }
            html{
                scroll-behavior: smooth;
            }
            body{
                margin: 0;
                padding: 0;         
                background: #FFF7D4                
            }
            nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                background-color: #FFD95A;
                /*background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(29,27,31,1));*/
                padding: 5px 4.5%;
                
            }
            .left-list{
                display: inline-block;
                justify-content: left;
            }
            .logo{
                width: 145px;
            }
            .left-list ul li a{
                text-decoration: none;
                color: #191609;
                font-weight: 500;
            }
            .nav ul{
                flex: 1;
                text-align: right;
            }
            nav ul li{
                display: inline-block;
                list-style: none;
                margin: 0 10px;
            }
            nav ul li a{
                color: #191609;
                text-decoration: none;
                text-shadow: 1px 1px 4px var(#FF725E), 2px 2px 50px var(#558EFE);
                font-size: 16px;
                font-weight: 500;
                font-style: 'Open Sans';
                position: relative;
            }
            .underline::after{
                content: '';
                width: 0;
                height: 3px;
                background: #FF725E;
                position: absolute;
                left: 0;
                bottom: -4px;
                transition: 0.5s;
            }
            .underline:hover::after{
                width:100%;
            }
            #first-section{
                margin-top: 50px;
                padding: 0px 4.5%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;               
            }
            .welcome-img{
                object-fit: contain;
                margin-left: auto;
                margin-right: 0;
            }
            .welcome-img img{
                width: 70vh;
                
            }            
            .left-sector h1{
                font-size: 7.2vh;
                font-weight: 600;
            }            
            .btn{
                transition: all 0.2s ease;
                cursor: pointer;
                text-decoration: none;
                color: #191609;
                background-color: #FF725E;
                font-weight: 500;
                font-size: 20px;
                padding: 6.5px 23px;
                border-radius: 4px;
                margin-right: 10px;
                
            }
            .btn.btn1{
                animation: shake 2s 3;
                transform-origin: center center;
            }
            @keyframes shake{
                10% { transform: translate(-2.5%, -2.5%) scale(1.05) rotate(5deg); }
                20% { transform: translate(-2.5%, -2.5%) scale(1.05) rotate(-5deg); }
                30% { transform: translate(-2.5%, -2.5%) scale(1.05) rotate(5deg); }
                40% { transform: none; }
            }
            

            .btn.btn2{
                background-color: #03C988;
            }
            .hom{
                margin-top: 10px;
                margin-right: 10px;
            }
            .card{
                display: block;
                border-radius: 10px;
                background-color: #4C3D3D;
                padding: 0px 0px 20px;
            }
            .img-wrapper {
                max-width: 100%;                
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }
            .img-wrapper img{
                border-radius: 10px 10px 0 0;
                max-width: 15.5rem;
            }
            .card-body{            
                padding: 0px 15px;
            }
            .card-body h4{
                color: #fff;
                font-size: 19px;
            }
            .card-body p{
                color: #fff;
                font-size: 15px;
            }
            .btnn.btn-primary{
                text-decoration: none;
                color: #fff;
                border: 1px solid #fff;
                padding: 7px 10px;
                justify-content: center;
                border-radius: 25px;
                width: fit-content;
                margin: 35px auto;
            }          

            .cards{
                margin-top: 50px;
                display: flex;
                flex-wrap: wrap;
            }
            .container{                    
                width: 200px;
                height: 215px;
                background-color: #4C3D3D;
                border-radius: 8px;
                margin-top: 9px;
                margin-right: 9px;
                display:block;
                justify-content: center;
                align-items: center;
            }
            .container h3{
                margin-top: 50px;
                font-size: 19px;
                color: #fff;
                text-align: center;
                font-weight: 600;
            }
            .play-btn{
                border: 1px solid #fff;
                padding: 7px 10px;
                justify-content: center;
                border-radius: 25px;
                width: fit-content;
                margin: 35px auto;
                
                
            }
            .container a{
                /*---webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;--*/
                display: flex;
                justify-content: center;
                text-decoration: none;
                color: #fff;
                font-weight: 500;
                font-size: 13.6px;
            }
            .con-background{
                margin-top: 18vh;
                display: flex;
                align-items: center;
                height: 110vh;
                padding: 0 4.5%;
                background-color: #5E5050;
                
            }
            .con-background img{
                width: 30%;
                object-fit: contain;
                margin-left: auto;
                margin-right: 0;
            }
            .blockk h1{
                font-size: 7.2vh;
                font-weight: 600;
                color: #FFD95A;
            }
            .container a i{
                margin-right: 10px;
            }            
            #copyright{
                position: relative;
                bottom: 0;
                margin-top: 400px;
                padding: 85px 0;              
                background: #4C411B        
            }
            #copyright p{
                color: #FFF;
                font-family: 'Rubik', sans-serif;
                font-size: 12.3px;
                font-style: light;
                font-weight: 600;
                line-height: normal;
                text-align: center;
            }
            .icons2{
                justify-content: center;
                display: flex;
            }
            .icons2 a{
                padding: 0 5px;
                text-decoration: none;
                font-size: 26.5px;
                margin-top: 1.5px;
                color: #fff;
                display: inline-block;
                transition: transform 0.5s;
            }
